.App {
  text-align: left;
  background: transparentize($color: #000000, $amount: 0.1); 
  height: 100vh; 
} 

.sidebar{
  width: 100px; 
  background: transparentize(#282828, 0.2); 
  height: 100vh;
  position: fixed; 
  top: 0; 
}

.logo-box{
  height: 100px; 
  background: #EB2328; 
  max-width: 100%;
  padding: 10px;  
  .logo{
    max-width: 100%;
    max-height: 100%; 
    display: block; 
    margin: 0 auto;
  }
}